DEFAULT_BRANCH=develop
GIT_USER=
GIT_TOKEN=
MYSQL_CONTAINER_NAME=whatever
TEST_DB=wordpress_test
TEST_DB_ROOT_PWD=toor
LOCAL_PORT=3306
CONTAINER_PORT=3306
DB_IMAGE=mariadb # mariadb or mysql
TIME_TO_WAIT=5 # seconds
MAX_WAITS=5
UNIT_TEST_BASE_IMAGE=nbc_wp_unit_test
UNIT_TEST_CONTAINER_ENV_FILE=unit_test.Dockerfile.env
UNIT_TEST_CONTAINER_NAME=whatever2
TEST_NETWORK=whatever3